*, * ::after ::before{
  margin: 0;
  box-sizing: border-box;
}

body {

  background-color: #ebf7f5;
  
}


header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/boat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 10rem 0;
}

header h1 {
  background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
  display: inline-block; /* To make the background adjust to the text content */
  padding: 1rem; /* Add some spacing around the text */
  
}
form {

  border-radius: 6px;
  box-shadow: 0 0 10px 0;
  background-color: white;

 
}

button {
  text-align: center;
  padding: 0.5rem 2rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  display: block;
  margin: auto;
  background-color: rgb(209, 246, 246);
  border:none;

}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"]
 {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 4px;
  
}
main{
  padding: 2rem;
  display: block;
  margin: auto;
}

.main-box {
  display: flex;
flex-direction: column;
justify-content: flex-start;


}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
}

.text-area {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.boxes {
  padding: 1rem;
  margin:  1rem;
}
fieldset{
  width: 100%;
}
textarea {
  width: 100%;
}

footer {
  text-align: center;
}

/* tablet */
@media (min-width: 667px) and (max-width: 1024px) {}
 form {
    padding:  2rem 2rem 2rem;
  }
/* desktop */
@media (min-width: 1025px) {
  main{
    padding: 0 8rem;
  }
  form {
    padding:  2rem 2rem 2rem;
  }
  .boxes {
    padding: 20px;
    margin: 20px;
  }
}